@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply no-underline;
}

a:hover {
  @apply no-underline;
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}

ul,
ol {
  color: "#333";
  margin-left: "24px";
  background-color: "#efefef";
}
